EASYCODE_RELAY_ADMIN_TOKEN=change-me
EASYCODE_ALLOWED_ORIGINS=*
EASYCODE_WS_HEARTBEAT_MS=30000
EASYCODE_RELAY_STORE=memory
EASYCODE_PAIRING_TTL_MS=600000
EASYCODE_RELAY_BACKLOG_LIMIT=200
EASYCODE_RELAY_DEDUPE_LIMIT=1000
EASYCODE_POSTGRES_URL=postgres://easycode:easycode@postgres:5432/easycode
EASYCODE_POSTGRES_MIGRATE=false
EASYCODE_POSTGRES_MIGRATIONS_DIR=
EASYCODE_REDIS_URL=redis://redis:6379
PORT=8787
POSTGRES_DB=easycode
POSTGRES_USER=easycode
POSTGRES_PASSWORD=easycode
POSTGRES_PORT=5432
REDIS_PORT=6379
